.universe {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	min-height: 400px;
	width: 100%;
	min-width: 800px;
	margin: auto;
	overflow: hidden;
	background: #181743;
}
.universe__part *, .universe__part *::before, .universe__part *::after {
	position: absolute;
	content: '';
}
	.universe__part:nth-child(1) {
		position: relative;
		width: 266px; height: 250px;
	}
		.universe__part:nth-child(1) .universe__planet {
			top: 151px; left: 116px;
			width: 115px; height: 74px;
			border-radius: 10px 10px 100px 100px;
			overflow: hidden;
			background: linear-gradient(to bottom, #ebf3fe 45%, #d4e9fe 46%, #d4e9fe 57%, #6cc8ff 58%);
		}
			.universe__part:nth-child(1) .universe__planet:before {
				top: 24px; left: 31px;
				width: 24px; height: 30px;
				box-sizing: border-box;
				background: #C1DEFE;
				border: 10px solid #D3E8FD;
				border-left-width: 6px;
				border-right-width: 6px;
				border-radius: 15px 15px 15px 15px / 20px 20px 20px 20px;
			}
			.universe__part:nth-child(1) .universe__planet:after {
				top: 19px; left: 61px;
				width: 36px; height: 23px;
				box-sizing: border-box;
				background: #C1DEFE;
				border: 10px solid #D3E8FD;
				border-bottom-width: 4px;
				border-radius: 30px 30px 0 0 / 40px 40px 0 0;
			}
			.universe__part:nth-child(1) .universe__rock:nth-child(2) {
				top: 125px; left: 167px;
				border: 10px solid transparent;
				border-width: 0 26px 26px;
				border-color: #EBF3FE transparent;
			}
				.universe__part:nth-child(1) .universe__rock:nth-child(2):after {
					border-bottom: 26px solid #BAD0F9;
					border-right: 26px solid transparent;
				}
				.universe__part:nth-child(1) .universe__rock:nth-child(2):before {
					top: 10px; left: -26px;
					border: 10px solid transparent;
					border-width: 0 16px 16px;
					border-color: #DCE9FC transparent;
				}
			.universe__part:nth-child(1) .universe__rock:nth-child(3) {
				top: 135px; left: 157px;
				border: 10px solid transparent;
				border-width: 0 16px 17px;
				border-color: #EBF3FE transparent;
			}
				.universe__part:nth-child(1) .universe__rock:nth-child(3):before {
					border-bottom: 16px solid #BAD0F9;
					border-right: 16px solid transparent;
				}
			.universe__part:nth-child(1) .universe__ufo {
				top: 115px; left: 129px;
				width: 24px; height: 3px;
				border-radius: 3px;
				background: #EBF3FE;
				animation: universe-ufo 4s ease infinite;
			}
				.universe__part:nth-child(1) .universe__ufo:before {
					top: -4px; left: 5px;
					width: 14px; height: 10px;
					border-radius: 6px 6px 2px 2px;
					background: #EBF3FE;
				}
			.universe__part:nth-child(1) .universe__ufo-light {
				top: 6px; left: 2px;
				height: 26px; width: 20px;
				background-image: linear-gradient(to bottom, #fa016d 0%, rgba(250, 1, 109, 0) 100%);
				animation: universe-ufo-light 4s ease infinite;
			}
				.universe__part:nth-child(1) .universe__ufo-light:before {
					top: 0px; left: 15px;
					border: 10px solid transparent;
					border-width: 26px 0 0 5px;
					border-color: #181743 transparent;
				}
				.universe__part:nth-child(1) .universe__ufo-light:after {
					border: 10px solid transparent;
					border-width: 26px 5px 0 0;
					border-color: #181743 transparent;
				}
			.universe__part:nth-child(1) .universe__satellite {
				top: 67px; left: 181px;
				width: 36px; height: 36px;
				overflow: hidden;
				border-radius: 100%;
				box-shadow: inset -7px 0 0px 0px rgba(0, 0, 0, 0.2);
				background: linear-gradient(to bottom, #3888f7 27%, #3c94f8 28%, #3c94f8 54%, #41a5fb 55%, #41a5fb 82%, #49bdff 83%);
			}
				.universe__part:nth-child(1) .universe__satellite:after {
					top: 15px; left: 14px;
					width: 9px; height: 9px;
					border-radius: 100%;
					background: #41A5FB;
				}
				.universe__part:nth-child(1) .universe__satellite:before {
					top: 9px; left: 4px;
					width: 8px; height: 8px;
					border-radius: 100%;
					background: #3C94F8;
				}
	.universe__part:nth-child(2) {
		position: relative;
		width: 266px; height: 250px;
	}
		.universe__part:nth-child(2) .universe__planet {
			top: 151px; left: 84px;
			height: 76px; width: 101px;
			border-radius: 20px 20px 50px 50px;
			background: white;
			transform: rotate(-14deg);
		}
			.universe__part:nth-child(2) .universe__planet:before {
				left: 4px; top: -6px;
				height: 34px; width: 94px;
				border-radius: 100%;
				background: linear-gradient(to right, #c000e0 0%, #e5f6fd 100%);
			}
			.universe__part:nth-child(2) .universe__planet:after {
				top: -5px; left: 13px;
				width: 71px; height: 36px;
				border-radius: 100%;
				opacity: 0;
			}
		.universe__part:nth-child(2) .universe__planet-core {
			top: -11px; left: 5px;
			height: 37px; width: 92px;
			border-radius: 100%;
			overflow: hidden;
		}
			.universe__part:nth-child(2) .universe__planet-core:before {
				left: 5px; top: 11px;
				height: 26px; width: 86px;
				border-radius: 100%;
				background: linear-gradient(to right, #cb0d7f 0%, #4869d0 100%);
			}
			.universe__part:nth-child(2) .universe__planet-core:after {
				top: 0px; left: 13px;
				width: 71px; height: 71px;
				border-radius: 100%;
				background: linear-gradient(135deg, #fa016d 0%, #5291f8 100%);
			}
		.universe__part:nth-child(2) .universe__planet-slice {
			top: 0px; left: 3px;
			height: 76px; width: 101px;
			border-radius: 20px 20px 50px 50px;
			overflow: hidden;
			transform: rotate(-14deg);
		}
			.universe__part:nth-child(2) .universe__planet-slice:before {
				top: 44px; left: -29px;
				width: 110px; height: 110px;
				border-radius: 50px 0 50px 50px;
				background: #B2E4FF;
				transform: rotate(13deg);
			}
			.universe__part:nth-child(2) .universe__planet-slice:after {
				left: -27px; bottom: -60px;
				height: 84px; width: 84px;
				border-radius: 0 50px 50px 50px;
				transform: rotate(32deg);
				background: #49BDFF;
			}
		.universe__part:nth-child(2) .universe__planet-atmospheric {
			top: -29px; left: -3px;
			width: 108px; height: 108px;
			border-radius: 100%;
			background: linear-gradient(135deg, #b90771 0%, rgba(185, 7, 113, 0) 70%, rgba(185, 7, 113, 0) 100%);
		}
		.universe__part:nth-child(2) .universe__satellite {
			top: 201px; left: 159px;
			width: 29px; height: 29px;
			overflow: hidden;
			border-radius: 100%;
			background: linear-gradient(135deg, #e51d7f 25%, #581588 55%, #181743 84%);
		}
			.universe__part:nth-child(2) .universe__satellite:after {
				top: 15px; left: 6px;
				width: 5px; height: 5px;
				border-radius: 100%;
				background: rgba(0, 0, 0, 0.2);
			}
			.universe__part:nth-child(2) .universe__satellite:before {
				top: 9px; left: 16px;
				width: 3px; height: 3px;
				border-radius: 100%;
				background: rgba(0, 0, 0, 0.2);
			}
		.universe__part:nth-child(2) .universe__clouds {
			top: 140px; left: 60px;
			width: 150px; height: 80px;
			background: #14143A;
		}
			.universe__part:nth-child(2) .universe__clouds:after {
				top: 0px; left: -10px;
				width: 164px; height: 8px;
				border-radius: 4px;
				background: #14143A;
			}
			.universe__part:nth-child(2) .universe__clouds:before {
				top: 64px; left: -16px;
				width: 197px; height: 8px;
				border-radius: 4px;
				background: #14143A;
			}
		.universe__part:nth-child(2) .universe__cloud:nth-child(1) {
			top: 21px; left: -22px;
			width: 207px; height: 8px;
			border-radius: 4px;
			background: #14143A;
		}
			.universe__part:nth-child(2) .universe__cloud:nth-child(1):after {
				top: -13px; right: 0px;
				width: 50px; height: 13px;
				border-radius: 7px;
				background: #181743;
			}
			.universe__part:nth-child(2) .universe__cloud:nth-child(1):before {
				top: -13px; left: 0px;
				width: 34px; height: 13px;
				border-radius: 7px;
				background: #181743;
			}
		.universe__part:nth-child(2) .universe__cloud:nth-child(2) {
			top: 43px; left: -27px;
			width: 189px; height: 8px;
			border-radius: 4px;
			background: #14143A;
		}
			.universe__part:nth-child(2) .universe__cloud:nth-child(2):after {
				top: -13px; right: 0px;
				width: 14px; height: 13px;
				border-radius: 7px;
				background: #181743;
			}
			.universe__part:nth-child(2) .universe__cloud:nth-child(2):before {
				top: -14px; left: 0px;
				width: 30px; height: 14px;
				border-radius: 7px;
				background: #181743;
			}
		.universe__part:nth-child(2) .universe__cloud:nth-child(3) {
			top: 51px; left: -27px;
			width: 33px; height: 12px;
			border-radius: 7px;
			background: #181743;
		}
			.universe__part:nth-child(2) .universe__cloud:nth-child(3):before {
				top: 0px; right: -165px;
				width: 30px; height: 12px;
				border-radius: 7px;
				background: #181743;
			}
		.universe__part:nth-child(2) .universe__star:nth-child(2) {
			top: 135px; left: 49px;
			width: 4px; height: 4px;
			animation: universe-star 6s linear infinite;
			animation-delay: -2s;
		}
			.universe__part:nth-child(2) .universe__star:nth-child(2):before {
				top: 1px; right: 0px;
				width: 4px; height: 2px;
				border-radius: 1px;
				background: #8C0BA3;
			}
			.universe__part:nth-child(2) .universe__star:nth-child(2):after {
				top: 0px; right: 1px;
				width: 2px; height: 4px;
				border-radius: 1px;
				background: #8C0BA3;
			}
		.universe__part:nth-child(2) .universe__star:nth-child(3) {
			top: 157px; left: 33px;
			width: 8px; height: 8px;
			animation: universe-star 6s linear infinite;
			animation-delay: -1s;
		}
			.universe__part:nth-child(2) .universe__star:nth-child(3):before {
				top: 2px; right: 0px;
				width: 8px; height: 4px;
				border-radius: 4px;
				background: #306CF2;
			}
			.universe__part:nth-child(2) .universe__star:nth-child(3):after {
				top: 0px; right: 2px;
				width: 4px; height: 8px;
				border-radius: 4px;
				background: #306CF2;
			}
		.universe__part:nth-child(2) .universe__star:nth-child(4) {
			top: 192px; left: 42px;
			width: 3px; height: 3px;
			animation: universe-star 6s linear infinite;
			animation-delay: -3s;
		}
			.universe__part:nth-child(2) .universe__star:nth-child(4):before {
				top: 1px; right: 0px;
				width: 3px; height: 1px;
				border-radius: 1px;
				background: #4ABEFF;
			}
			.universe__part:nth-child(2) .universe__star:nth-child(4):after {
				top: 0px; right: 1px;
				width: 1px; height: 3px;
				border-radius: 1px;
				background: #4ABEFF;
			}
		.universe__part:nth-child(2) .universe__star:nth-child(5) {
			top: 172px; left: 56px;
			width: 6px; height: 6px;
			animation: universe-star 6s linear infinite;
			animation-delay: -4s;
		}
			.universe__part:nth-child(2) .universe__star:nth-child(5):before {
				top: 2px; right: 0px;
				width: 6px; height: 2px;
				border-radius: 2px;
				background: #52058B;
			}
			.universe__part:nth-child(2) .universe__star:nth-child(5):after {
				top: 0px; right: 2px;
				width: 2px; height: 6px;
				border-radius: 2px;
				background: #52058B;
			}
		.universe__part:nth-child(2) .universe__star:nth-child(6) {
			top: 148px; left: 56px;
			width: 3px; height: 3px;
			animation: universe-star 6s linear infinite;
			animation-delay: -5s;
		}
			.universe__part:nth-child(2) .universe__star:nth-child(6):before {
				top: 1px; right: 0px;
				width: 3px; height: 1px;
				border-radius: 1px;
				background: #4ABEFF;
			}
			.universe__part:nth-child(2) .universe__star:nth-child(6):after {
				top: 0px; right: 1px;
				width: 1px; height: 3px;
				border-radius: 1px;
				background: #4ABEFF;
			}
		.universe__part:nth-child(2) .universe__star:nth-child(7) {
			top: 135px; left: 196px;
			width: 6px; height: 6px;
			animation: universe-star 6s linear infinite;
			animation-delay: -2s;
		}
			.universe__part:nth-child(2) .universe__star:nth-child(7):before {
				top: 2px; right: 0px;
				width: 6px; height: 2px;
				border-radius: 2px;
				background: #8B0BA0;
			}
			.universe__part:nth-child(2) .universe__star:nth-child(7):after {
				top: 0px; right: 2px;
				width: 2px; height: 6px;
				border-radius: 2px;
				background: #8B0BA0;
			}
		.universe__part:nth-child(2) .universe__star:nth-child(8) {
			top: 136px; left: 217px;
			width: 3px; height: 3px;
			animation: universe-star 6s linear infinite;
			animation-delay: -1s;
		}
			.universe__part:nth-child(2) .universe__star:nth-child(8):before {
				top: 1px; right: 0px;
				width: 3px; height: 1px;
				border-radius: 1px;
				background: #4ABEFF;
			}
			.universe__part:nth-child(2) .universe__star:nth-child(8):after {
				top: 0px; right: 1px;
				width: 1px; height: 3px;
				border-radius: 1px;
				background: #4ABEFF;
			}
		.universe__part:nth-child(2) .universe__star:nth-child(9) {
			top: 162px; left: 218px;
			width: 6px; height: 6px;
			animation: universe-star 6s linear infinite;
			animation-delay: -3s;
		}
			.universe__part:nth-child(2) .universe__star:nth-child(9):before {
				top: 2px; right: 0px;
				width: 6px; height: 2px;
				border-radius: 2px;
				background: #49BDFF;
			}
			.universe__part:nth-child(2) .universe__star:nth-child(9):after {
				top: 0px; right: 2px;
				width: 2px; height: 6px;
				border-radius: 2px;
				background: #49BDFF;
			}
		.universe__part:nth-child(2) .universe__star:nth-child(10) {
			top: 182px; left: 196px;
			width: 6px; height: 6px;
			animation: universe-star 6s linear infinite;
			animation-delay: -4s;
		}
			.universe__part:nth-child(2) .universe__star:nth-child(10):before {
				top: 2px; right: 0px;
				width: 6px; height: 2px;
				border-radius: 2px;
				background: #510689;
			}
			.universe__part:nth-child(2) .universe__star:nth-child(10):after {
				top: 0px; right: 2px;
				width: 2px; height: 6px;
				border-radius: 2px;
				background: #510689;
			}
		.universe__part:nth-child(2) .universe__star:nth-child(11) {
			top: 191px; left: 219px;
			width: 3px; height: 3px;
			animation: universe-star 6s linear infinite;
			animation-delay: -5s;
		}
			.universe__part:nth-child(2) .universe__star:nth-child(11):before {
				top: 1px; right: 0px;
				width: 3px; height: 1px;
				border-radius: 1px;
				background: #890BA2;
			}
			.universe__part:nth-child(2) .universe__star:nth-child(11):after {
				top: 0px; right: 1px;
				width: 1px; height: 3px;
				border-radius: 1px;
				background: #890BA2;
			}
	.universe__part:nth-child(3) {
		position: relative;
		width: 266px; height: 250px;
	}
		.universe__part:nth-child(3) .universe__planet {
			top: 163px; left: 79px;
			height: 67px; width: 106px;
			border-radius: 7px 7px 50px 50px;
			background: linear-gradient(180deg, #ebf3fe 34%, #77cdff 35%, #77cdff 47%, #58b6fc 48%);
		}
			.universe__part:nth-child(3) .universe__planet:before {
				left: 14px; top: 11px;
				height: 20px; width: 36px;
				border-radius: 20px 20px 0 0;
				background: #77cdff;
			}
			.universe__part:nth-child(3) .universe__planet:after {
				top: 25px; left: 58px;
				width: 40px; height: 20px;
				border-radius: 0 0 30px 30px;
				background: #77cdff;
			}
		.universe__part:nth-child(3) .universe__hills {
			top: 119px; left: 150px;
			height: 44px; width: 30px;
			border-radius: 20px 20px 0 0;
			background: #306CF2;
		}
			.universe__part:nth-child(3) .universe__hills:before {
				left: -20px; top: 10px;
				height: 34px; width: 30px;
				border-radius: 15px 15px 0 0;
				background: #3EADFC;
				box-shadow: 4px 0 0 rgba(0, 0, 0, 0.1);
				z-index: 10;
			}
			.universe__part:nth-child(3) .universe__hills:after {
				left: -16px; top: 31px;
				height: 24px; width: 32px;
				border-radius: 15px 15px 0 0;
				background: #EBF3FE;
				z-index: 10;
			}
		.universe__part:nth-child(3) .universe__bubble:nth-child(1) {
			top: 160px; left: 86px;
			height: 8px; width: 8px;
			border-radius: 100%;
			background: #FFFFFF;
			animation: universe-star 4s ease infinite;
		}
		.universe__part:nth-child(3) .universe__bubble:nth-child(2) {
			top: 151px; left: 91px;
			height: 18px; width: 18px;
			border-radius: 100%;
			background: #FFFFFF;
			animation: universe-star 5s ease infinite;
			animation-delay: -2s;
		}
		.universe__part:nth-child(3) .universe__bubble:nth-child(3) {
			top: 155px; left: 107px;
			height: 14px; width: 14px;
			border-radius: 100%;
			background: #FFFFFF;
			animation: universe-star 3s ease infinite;
			animation-delay: -1s;
		}
		.universe__part:nth-child(3) .universe__bubble:nth-child(4) {
			top: 154px; left: 120px;
			height: 10px; width: 10px;
			border-radius: 100%;
			background: #FFFFFF;
			animation: universe-star 6s ease infinite;
		}
		.universe__part:nth-child(3) .universe__bubble:nth-child(5) {
			top: 149px; left: 126px;
			height: 16px; width: 16px;
			border-radius: 100%;
			background: #FFFFFF;
			animation: universe-star 4s ease infinite;
			animation-delay: -2s;
		}
		.universe__part:nth-child(3) .universe__bubble:nth-child(6) {
			top: 160px; left: 118px;
			height: 8px; width: 8px;
			border-radius: 100%;
			background: #FFFFFF;
			animation: universe-star 5s ease infinite;
			animation-delay: -1s;
		}
		.universe__part:nth-child(3) .universe__rocket {
			top: 116px; left: 96px;
			height: 14px; width: 39px;
			border-radius: 50% 50% 2px 2px / 100% 100% 2px 2px;
			background: #2D97F7;
			animation: universe-rocket 4s ease infinite;
		}
			.universe__part:nth-child(3) .universe__rocket:before {
				top: -18px; left: 7px;
				height: 32px; width: 26px;
				border-radius: 50% 50% 2px 2px / 100% 100% 2px 2px;
				background: linear-gradient(to right, #ffffff 49%, #a8d3fd 50%);
			}
			.universe__part:nth-child(3) .universe__rocket:after {
				top: 14px; left: 13px;
				height: 4px; width: 12px;
				border-radius: 2px;
				background: #2D97F7;
			}
		.universe__part:nth-child(3) .universe__rocket-window {
			top: -7px; left: 14px;
			height: 8px; width: 8px;
			border-radius: 100%;
			background: #214A8A;
			border: 2px solid #A8D4F9;
		}
		.universe__part:nth-child(3) .universe__rocket-light {
			top: 18px; left: 17px;
			height: 29px; width: 5px;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
		}
		.universe__part:nth-child(3) .universe__sattelite {
			top: 73px; left: 140px;
			height: 32px; width: 32px;
			border-radius: 100%;
			background: linear-gradient(to right, #fa016d 0%, rgba(250, 1, 109, 0) 100%);
		}
			.universe__part:nth-child(3) .universe__sattelite:before {
				left: 34px; top: -8px;
				height: 9px; width: 9px;
				border-radius: 100%;
				background: #2D97F7;
			}
			.universe__part:nth-child(3) .universe__sattelite:after {
				left: 49px; top: 16px;
				height: 3px; width: 3px;
				border-radius: 100%;
				background: #EEF9FF;
			}
		.universe__part:nth-child(3) .universe__star:nth-child(11) {
			top: 80px; left: 66px;
			height: 3px; width: 3px;
			animation: universe-star 6s linear infinite;
			animation-delay: -2s;
		}
			.universe__part:nth-child(3) .universe__star:nth-child(11):before {
				left: 0px; top: 1px;
				height: 1px; width: 100%;
				border-radius: 1px;
				background: #2D97F5;
			}
			.universe__part:nth-child(3) .universe__star:nth-child(11):after {
				left: 1px; top: 0px;
				height: 100%; width: 1px;
				border-radius: 1px;
				background: #2D97F5;
			}
		.universe__part:nth-child(3) .universe__star:nth-child(12) {
			top: 69px; left: 83px;
			height: 8px; width: 8px;
			animation: universe-star 6s linear infinite;
			animation-delay: -3s;
		}
			.universe__part:nth-child(3) .universe__star:nth-child(12):before {
				left: 0px; top: 3px;
				height: 2px; width: 100%;
				border-radius: 2px;
				background: white;
			}
			.universe__part:nth-child(3) .universe__star:nth-child(12):after {
				left: 3px; top: 0px;
				height: 100%; width: 2px;
				border-radius: 2px;
				background: white;
			}
		.universe__part:nth-child(3) .universe__star:nth-child(13) {
			top: 91px; left: 73px;
			height: 3px; width: 3px;
			animation: universe-star 6s linear infinite;
			animation-delay: -4s;
		}
			.universe__part:nth-child(3) .universe__star:nth-child(13):before {
				left: 0px; top: 1px;
				height: 1px; width: 100%;
				border-radius: 1px;
				background: #2D97F5;
			}
			.universe__part:nth-child(3) .universe__star:nth-child(13):after {
				left: 1px; top: 0px;
				height: 100%; width: 1px;
				border-radius: 1px;
				background: #2D97F5;
			}
		.universe__part:nth-child(3) .universe__star:nth-child(14) {
			top: 78px; left: 119px;
			height: 6px; width: 6px;
			animation: universe-star 6s linear infinite;
			animation-delay: -5s;
		}
			.universe__part:nth-child(3) .universe__star:nth-child(14):before {
				left: 0px; top: 2px;
				height: 2px; width: 100%;
				border-radius: 2px;
				background: #2D97F5;
			}
			.universe__part:nth-child(3) .universe__star:nth-child(14):after {
				left: 2px; top: 0px;
				height: 100%; width: 2px;
				border-radius: 2px;
				background: #2D97F5;
			}
		.universe__part:nth-child(3) .universe__star:nth-child(15) {
			top: 76px; left: 195px;
			height: 3px; width: 3px;
			animation: universe-star 6s linear infinite;
			animation-delay: -1s;
		}
			.universe__part:nth-child(3) .universe__star:nth-child(15):before {
				left: 0px; top: 1px;
				height: 1px; width: 100%;
				border-radius: 1px;
				background: #2D97F5;
			}
			.universe__part:nth-child(3) .universe__star:nth-child(15):after {
				left: 1px; top: 0px;
				height: 100%; width: 1px;
				border-radius: 1px;
				background: #2D97F5;
			}

@keyframes universe-ufo {
	0% { transform: translateY(0); }
	50% { transform: translateY(5px); }
	100% { transform: translateY(0); }
}
@keyframes universe-rocket {
	0% { transform: translateY(0); }
	50% { transform: translateY(7px); }
	100% { transform: translateY(0); }
}
@keyframes universe-ufo-light {
	0% { opacity: 1; }
	50% { opacity: .6; }
	100% { opacity: 1; }
}
@keyframes universe-star {
	0% { transform: scale(1); }
	50% { transform: scale(2); }
	100% { transform: scale(1); }
}